In [5]:
from google.cloud import bigquery
from google.cloud import bigquery_storage

import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
# Create BigQuery client
client = bigquery.Client()

# Create BigQuery Storage client
bqstorage_client = bigquery_storage.BigQueryReadClient()

query = """
SELECT *
FROM `bigquery-public-data.iowa_liquor_sales.sales`
WHERE date <= '2023-03-31' and date >= '2023-01-01'
"""

# Fetch results using BigQuery Storage API
df = client.query(query).to_dataframe(bqstorage_client=bqstorage_client)

# Display results
df.head()

,invoice_and_item_number,date,store_number,store_name,address,city,zip_code,store_location,county_number,county,...,item_number,item_description,pack,bottle_volume_ml,state_bottle_cost,state_bottle_retail,bottles_sold,sale_dollars,volume_sold_liters,volume_sold_gallons
0,RINV-04544800075,2023-03-09,3443,SUPER SAVER IV,1141 N BROADWAY,COUNCIL BLUFFS,51503,POINT(-95.83549 41.27072),None,POTTAWATTAMIE,...,36886,MCCORMICK 80PRF VODKA,12,750,3.64,5.46,-12,-62.88,-9.00,-2.37
1,RINV-04572600011,2023-03-28,4201,FAREWAY STORES #022 / SIOUX CITY,4040 WAR EAGLE DR,SIOUX CITY,51109,POINT(-96.46137 42.49481),None,WOODBURY,...,22199,WILD TURKEY RARE BREED,6,750,25.50,38.25,-6,-229.50,-4.50,-1.18
2,RINV-04510100235,2023-02-14,2502,HY-VEE WINE AND SPIRITS (1022) / ANKENY,410 NORTH ANKENY BLVD,ANKENY,50021.0,POINT(-93.60044 41.73464),None,POLK,...,43686,CROSS KEYS RUM,12,750,10.07,15.11,-2,-30.22,-1.50,-0.39
3,RINV-04560800019,2023-03-21,2536,HY-VEE (1530) / PLEASANT HILL,4815 MAPLE DRIVE,PLEASANT HILL,50317,POINT(-93.51874 41.59714),None,POLK,...,5753,JOHNNIE WALKER BLUE MINI,12,50,60.00,90.00,-1,-90.00,-0.05,-0.01
4,INV-55591200029,2023-02-06,4594,QUIK TRIP #554 / SW 63RD DM,901 SW 63RD ST,DES MOINES,50312.0,POINT(-93.70255 41.56986),None,POLK,...,11771,BLACK VELVET MINI,8,50,8.87,13.31,1,12.75,0.05,0.01

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 624100 entries, 0 to 624099
Data columns (total 24 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   invoice_and_item_number  624100 non-null  object
 1   date                     624100 non-null  dbdate
 2   store_number             624100 non-null  object
 3   store_name               624100 non-null  object
 4   address                  623386 non-null  object
 5   city                     623386 non-null  object
 6   zip_code                 623386 non-null  object
 7   store_location           608433 non-null  object
 8   county_number            0 non-null       object
 9   county                   623386 non-null  object
 10  category                 624100 non-null  object
 11  category_name            624100 non-null  object
 12  vendor_number            624100 non-null  object
 13  vendor_name              624100 non-null  object
 14  item_number              624100 non-null  object
 15  item_description         624100 non-null  object
 16  pack                     624100 non-null  Int64
 17  bottle_volume_ml         624100 non-null  Int64
 18  state_bottle_cost        624100 non-null  float64
 19  state_bottle_retail      624100 non-null  float64
 20  bottles_sold             624100 non-null  Int64
 21  sale_dollars             624100 non-null  float64
 22  volume_sold_liters       624100 non-null  float64
 23  volume_sold_gallons      624100 non-null  float64
dtypes: Int64(3), dbdate(1), float64(5), object(15)
memory usage: 116.1+ MB

In [15]:
# Group by the category column and sum the bottles sold for each category
category_bottles = df.groupby('category_name')['bottles_sold'].sum().reset_index()

# Optionally, sort the results by bottles sold in descending order for easier viewing
category_bottles = category_bottles.sort_values(by='bottles_sold', ascending=False)
category_bottles.head(10)

                category_name  bottles_sold
9             AMERICAN VODKAS       1483592
42            WHISKEY LIQUEUR       1047475
12          CANADIAN WHISKIES        725525
37  STRAIGHT BOURBON WHISKIES        396239
36                 SPICED RUM        376495
6     AMERICAN FLAVORED VODKA        241439
7           AMERICAN SCHNAPPS        238508
0          100% AGAVE TEQUILA        226999
10           BLENDED WHISKIES        205653
29              MIXTO TEQUILA        181434

In [19]:
vendor_bottles = df.groupby('vendor_name')['bottles_sold'].sum().reset_index().sort_values(by='bottles_sold', ascending=False)
vendor_bottles.shape

(206, 2)

In [21]:
vendor_bottles.head(10)

                  vendor_name  bottles_sold
164      SAZERAC COMPANY  INC       1986035
52            DIAGEO AMERICAS        990541
82         HEAVEN HILL BRANDS        554437
113                 LUXCO INC        452347
97            JIM BEAM BRANDS        439795
68       FIFTH GENERATION INC        347398
145         PERNOD RICARD USA        317075
124  MCCORMICK DISTILLING CO.        240998
10            BACARDI USA INC        227436
62         E & J GALLO WINERY        217603

In [26]:
vendor_bottles[vendor_bottles['bottles_sold']> 5000].shape

(42, 2)